<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron"> <!--jumbotron이라는 class를 사용하였는데, 이는 bootstrap에서 제공하는 컴포넌트입니다.-->
        <% if(!logged) { %>
          <p> 아직 회원이 아니세요? 회원가입하고 서비스를 이용해보세요!</p>
        <% } else { %>
          <label><%=user.username %>님, 환영합니다!</label>
        <% } %>
      </div>
    </div>
  </body>
</html>