<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
</head>
<body>
    <h1>수정 페이지 입니다.</h1>
    <form action="/posts/update" method="post">
        <input type="hidden" name="id" value="<%=result.id%>"/>
        <div>제목 <input type="text" name="title" value = "<%= result.title %>"></div>
        <div>내용 <input type="textarea" name="content" value = "<%= result.body %>"></div>
        <button type="submit">수정하기</button>
    </form>
    </form>
</body>
</html>
