<!-- views/posts/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href='/posts/new'>글 쓰기</a>

    <% if(rows == null || rows.length == 0){ %>
        <tr>
          <td> 아직 작성된 글이 없습니다. </td>
        </tr>
    <% } %>

    <% rows.forEach(element => { %>
        <%= element.title %>
        <%= element.username %> <!--작성자(username)-->
        <a href='/posts/show/<%= element.id %>'>상세보기</a>
    <% }); %> 
</body>
</html>