<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
    <!-- <h1>글 작성 페이지</h1>
    <form action="/posts/create" method="post">
        <div>작성자(유저네임) <input type="text" name="username" value="<%#=user.username%>"></div>
        <div>제목 <input type="text" name="title"></div>
        <div>내용 <input type="textarea" name="content"></div>
        <button type="submit">작성하기</button>
    </form> -->
    
    <h1>글 작성 페이지</h1>
    <p>파일을 필수로 입력해야 합니다.</p>
    <form action="/posts/create" method="post" enctype="multipart/form-data">
        <div>작성자(유저네임) <input type="hidden" name="username" value="<%=user.username%>"></div>
        <div>제목 <input type="text" name="title"></div>
        <div>내용 <input type="textarea" name="content"></div>
        <input type="file" id="uploadFile" name="photo"> 
        <button type="submit">작성하기</button>
    </form>
</div>
</body>
</html>