<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>글 작성 페이지</h1>
    <form action="/posts/create" method="post">
        <div>작성자(유저네임) <input type="text" name="username" value="<%=user.username%>"></div>
        <div>제목 <input type="text" name="title"></div>
        <div>내용 <input type="textarea" name="content"></div>
        <button type="submit">작성하기</button>
    </form>
</body>
</html>