<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <div class="jumbotron">
    <!-- <h1>글 작성 페이지</h1>
    <form action="/posts/create" method="post">
        <div>작성자(유저네임) <input type="text" name="username" value="<%#=user.username%>"></div>
        <div>제목 <input type="text" name="title"></div>
        <div>내용 <input type="textarea" name="content"></div>
        <button type="submit">작성하기</button>
    </form> -->
    
    <h1>홍보 글 작성하기</h1>
    <form action="/posts/create" method="post" enctype="multipart/form-data">

    <div><input type="hidden" name="username" value="<%=user.username%>"></div>

    <div class="input-group mb-3" style="margin-top: 40px;">
        <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
        <input type="text" name="title" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

        <!-- <div>제목 <input type="text" name="title"></div> -->

        <!--대분류 select tag-->
        <div>
          <label for="firstKindU">동아리 종류 선택</label>
          <select id="firstKindU" name="firstKindU" onchange="KindChange(this)">
            <option>선택안함</option>
            <option value="공연/예술/음악">공연/예술/음악</option>
            <option value="봉사">봉사</option>
            <option value="컴퓨터/IT">컴퓨터/IT</option>
          </select>
      </div>
      <!--소분류 select tag-->
      <div>
          <label for="secondKindU">동아리 이름 선택</label>
          <select id="secondKindU" name="secondKindU">
            <option>선택안함</option>
          </select>
      </div>
      <!--js-->
      <script>
          function KindChange(e) {
          var art = ["자드락", "가객"];
          var vol = ["인액터스", "미소"];
          var com = ["CAGI", "Aegis"];
          var target = document.getElementById("secondKindU");
          if(e.value == "공연/예술/음악") var d = art;
          else if(e.value == "봉사") var d = vol;
          else if(e.value == "컴퓨터/IT") var d = com;
          target.options.length = 0;
          for (x in d) {
              var opt = document.createElement("option");
              opt.value = d[x];
              opt.innerHTML = d[x];
              target.appendChild(opt);
          }   
      }
      </script>

      <!--모집기간-->
      <div>
        모집 기간
        <input type="date" name="startDate" id="startDate"> 
        <input type="date" name="endDate" id="endDate">
      </div>

      <div class="input-group mb-3" style="margin-top: 30px;">
        <span class="input-group-text" id="inputGroup-sizing-default">내용</span>
        <input type="textarea" name="content" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="height: 300px;">
      </div>

      <!-- <div>내용 <input type="textarea" name="content"></div> -->
      파일 <input type="file" id="uploadFile" name="photo"> 
      <div><p>(홍보 포스터를 필수로 업로드 해야 합니다.)</p></div>

      <button type="submit" class="btn btn-outline-secondary">작성하기</button>
    </form>
</div>
</div>
</body>
</html>