<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
        <div class="jumbotron">
        <h1>ν…μ¤νΈ κ²°κ³Ό νμ΄μ§€</h1>
        <% if(rows == null || rows.length == 0){ %>
            <tr>
              <td> κ²°κ³Όκ°’μ΄ μ—†μµλ‹λ‹¤. </td>
            </tr>
        <% } %>
    
        <p> π¨ λ‹Ήμ‹ μ κ΄€μ‹¬μ‚¬ ν…μ¤νΈ κ²°κ³Όμ…λ‹λ‹¤. </p>
        <p> π λ‹Ήμ‹ μ€ μ΄λ° λ™μ•„λ¦¬μ™€ λ§μ•„μ”. </p>
    
    <h5><b>
        <% rows.forEach(element => { %>
            <%= element.test_result %>
        <% }); %>
    </b></h5>
    
        <p> λ™μ•„λ¦¬μ— λ€ν• μμ„Έν• μ •λ³΄λ” 'ν™λ³΄ κ²μ‹ν'μ„ ν†µν•΄ λ” μ•μ•„λ³΄μ„Έμ”:)</p>
    </div>
    </div>
</body>
</html>